*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, 
ol, 
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    font-family: Poppins;
}
.wrapper {
    min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header_container {
    width: 1280px;
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
    margin-bottom: 24px;
}
.header_logo_span {
    color: #0099FF;
}
.header_logo {
    font-weight: 700;
    color: black;
    font-size: 20px;
    line-height: 30px;
}
.menu_item {
    display: inline-block;
    margin-left: 41px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.menu_link {
    color: black;
}
.btn_login {
    background-color: white;
    width: 200px;
    height: 54px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color:  #0099FF;
    border: 2px solid #0099FF;
    border-radius: 5px;
    padding: 13px 74px;
}
.btn_login:hover {
    background-color: #0099FF;
    color: #FFFFFF;
}
.hero_container {
    height: 810px;
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.img_hero_container_ellipse {
    position: absolute;
    width: 752px;
    height: 769px;
    left: -332px;
    top: 101px;
    background: rgba(0, 153, 255, 0.12);
    filter: blur(100px);
}
.img_hero_container_delta1 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 150px;
    top: 127.19px;
}
.img_hero_container_delta2 {
    position: absolute;
    width: 87.42px;
    height: 87.42px;
    left: 423px;
    top: 741.26px;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 61px;
    color: #333333;
    margin-top: 288px;
    width: 632px;
    height: 122px;
    margin-bottom: 32px;
}
.content_doc {
    color:#999999;
    font-weight: 500;
    font-size: 20px;
    line-height: 156%;
    margin-bottom: 30px;
}
.btn_check_now {
    width: 200px;
    height: 54px;
    background-color: #0099FF;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    padding: 14px 45px;
}
.btn_check_now:hover {
    background-color: #FFFFFF;
    border: 2px solid #0099FF;
    color: #333333;
}
.img_hero {
    width: 632px;
    height: 686px;
}
.our_services {
    width: 1440px;
    height: 784px;
    background-color:  rgba(215, 241, 246, 0.34);
}
.our_services_title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #333333;
    padding-top: 107px;
    padding-bottom: 20px;
}
.our_services_step {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #333333;
    margin-bottom: 75px;
}
.our_services_box {
    width: 1100px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.our_services_date, .our_services_poly, .our_services_doctor {
    width: 308px;
    height: 229px;
    background-color: white;
    margin-top: 71px;
    border-radius: 5px;
}
.our_services_box_title {
    font-weight: 600;
    font-size: 20px;  
    text-align: center;  
    color:  #333333;
    margin-top: 77px;
    margin-bottom: 15px;
}
.our_services_box_text {
    font-weight: 500;
    font-size: 18px;
    color: #999999;
    text-align: center;
}
.our_services_img_date {
    position: absolute;
    top: 1270px;
    left: 260px;
}
.our_services_img_poly {
    position: absolute;
    top: 1265px;
    left: 660px;
}
.our_services_img_doctor {
    position: absolute;
    top: 1265px;
    left: 1056px;
}
.about_us {
    width: 1440px;
    height: 784px;
    display: flex;
    justify-content: space-between;
}
.about_us_img_doctor {
    margin-top: 73px;
    margin-left: 80px;
    margin-right: 46px;
}
.about_us_title {
    margin-top: 133px;
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    margin-bottom: 20px;
}
.about_us_we_help {
    font-weight: 600;
    font-size: 40px;
    color: #333333;
    margin-bottom: 32px;
}
.about_us_text {
    font-weight: 500;
    font-size: 18px;
    color: #999999;
    margin-right: 80px;
    margin-bottom: 65px;
}
.btn_about_us {
    width: 216px;
    height: 54px;
    background-color: #0099FF;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    padding: 13px 36px;
}
.btn_about_us:hover {
    background-color: #FFFFFF;
    border: 2px solid #0099FF;
    color: #333333;
}
.about_us_img_rec {
    top: 1810px;
    left: 90px;
    position: absolute;
}
.our_doctors {
    width: 1440px;
    height: 883px;
    background-color: 
    rgba(215, 241, 246, 0.34);
}
.our_doctors_title {
    text-align: center;
    padding-top: 100px;
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    margin-bottom: 20px;
}
.our_doctors_visit {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #333333;
    margin-bottom: 82px;
}
.our_doctors_box {
    display: flex;
    justify-content: space-between;
    width: 1350px;
    margin: 0 auto;
}
.our_doctors_item {
    width: 328px;
    height: 509px;
}
.contact_links {
    display: flex;
    width: 100px;
    height: 15px;
    margin-left: 25px;
    margin-top: 17px;
    margin-bottom: 12px;
    justify-content: space-between;
}
.our_doctors_orthodontisy, .our_doctors_pediatric, .our_doctors_dentist, .our_doctors_muhammad {
    width: 260px;
    height: 140px;
    position: absolute;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.our_doctors_orthodontisy {
    left: 70px;
    top: 3120px;
}
.our_doctors_pediatric {
    top: 3120px;
    left: 410px;
}
.our_doctors_dentist {
    top: 3120px;
    left: 750px;
}
.our_doctors_muhammad {
    top: 3120px;
    left: 1090px;
}
.name_doctor {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    margin-left: 20px;
}
.doctor_profession {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    margin-left: 20px;
    top: 100px;
    position: absolute;
}
.testimonials_container {
    width: 1440px;
    height: 1260px;
}
.testimonials_box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1280px;
    height: 600px;
}
.testimonials {
    width: 632px;
    height: 592px;

}
.testimonials_title {
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    margin-left: 80px;
    margin-top: 100px;
 }
 .testimonials_text {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 55px;
    margin-left: 80px;
}
.testimonials_img {
    border-radius: 5px;
}
.testimonials_item {
    width: 632px;
    height: 206px;
    border-radius: 5px;
    background-color: #F1FAFC;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(175, 175, 175, 0.22);
}
.testimonials_item_name {
    font-weight: 700;
    font-size: 20px;
    margin-left: 21px;
    padding-top: 24px;
}
.testimonials_item_text {
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    margin-left: 21px;
    width: 472px;
}
.testomonials_img_stars {
   display: block;
   margin: 0 auto;
   margin-top: 20px;
}

.contact_us {
    width: 1280px;
    height: 348px;
    background-color: black;
    margin: 0 auto;
    margin-top: 102px;
}
.contact_us_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    padding-top: 74px;
    margin-left: 82px;

}
.contact_us_text {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 74px;
    margin-top: 72px;
    width: 323px;
    z-index: 1;
    position: absolute;
}
.btn_contact_us {
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #0099FF;
    border-radius: 5px;
    width: 216px;
    height: 54px;
    margin-left: 990px;
    margin-top: 46px;
    padding: 13px 53px;
}
.btn_contact_us:hover {
    background-color: #FFFFFF;
    border: 2px solid #0099FF;
    color: #333333;
}
.footer {
    width: 1440px;
    height: 425px;
    background-color:rgba(241, 250, 252, 1);
}
.footer_box {
    width: 1300px;
    height: 425px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer_box_info {
    width: 540px;
    height: 425px;
}
.footer_box_logo {
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    margin-top: 98px;
    margin-bottom: 29px;
}
.footer_box_logo_hos {
    font-weight: 700;
    font-size: 20px;
    color: #0099FF;
}
.footer_box_text {
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    margin-bottom: 36px;
}
.footer_box_links {
    width: 272px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}
.link {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 4px;
    display: block;
    align-items: center;
}
.link_img {
    padding: 8px 8px 8px 8px;
}
.footer_box_menus {
    height: 425px;
    width: 75px;
    margin-top: 88px;
    margin-right: 100px;
}
.footer_box_item_menus {
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}
.footer_box_item {
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}


.footer_box_subscribe {
    height: 425px;
    width: 420px;
    margin-left: 80px;
}
.footer_menu_list_menus {
    padding-bottom: 20px;
}
.footer_menu_list {
    padding-bottom: 40px;
}
.footer_box_subscribe_checkup {
    font-weight: 600;
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 37px;
}
.footer_box_email {
    width: 416px;
    height: 74px;
    background-color: #494949;
    border-radius: 5px;
    margin-bottom: 21px;
}
.footer_box_email::placeholder {
    color: rgba(255, 255, 255, 0.61);
    font-weight: 600;
    font-size: 20px;
    padding-left: 28px;
}
.footer_box_inp_submit {
    background-color: rgba(0, 153, 255, 1);
    width: 216px;
    height: 63px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}
.footer_box_inp_submit:hover {
    background-color: #FFFFFF;
    border: 2px solid #0099FF;
    color: #333333;
}